/*ウィンドウ幅が最大767px*/
@media screen and (max-width: 767px) {
    .header {
        width: 300px;
    }
    .left{
        width: 100px;
    }
    .oya3{
        width: 125px;
    }
    .light{
        width: 75px;
    }
    .main-down{
        width: 200px;
    }
    .footer{
        width: 300px;
    }
}

/*ウィンドウ幅が最大479px*/
@media screen and (max-width: 479px) {
    .header {
        width: 150px;
        height: 100px;
    }
    .left{
        width: 150px;
        height: 100px;
    }
    .oya{
        width: 150px;
        height: 450px;
        flex-direction: column;
    }
    .oya2{
        width: 150px;
        height: 250px;
        flex-wrap: wrap-reverse;
    }
    .light{
        width: 150px;
        height: 100px;
    }
    .main-down{
        width: 150px;
        height: 100px;
    }
    .footer {
        width: 150px;
        height: 100px;
    }
}