.header{
    width: 400px;
    height: 100px;
    background-color: #FFCE7a;
}
.header-right{
    background-color: #ffffff;
    width: 160px;
    height: 60px;
    margin: 20px 0 0 210px  ;
    position: absolute;
}
.header-in-left{
    width: 40px;
    height: 40px;
    background-color: #C2FFC8;
    margin: 10px 110px 10px 10px;
    position: absolute;
}
.header-in-center{
    width: 40px;
    height: 40px;
    background-color: #C2FFC8;
    margin: 10px 60px 10px 60px;
    position: absolute;
}
.header-in-right{
    width: 40px;
    height: 40px;
    background-color: #C2FFC8;
    margin: 10px 10px 10px 110px;
    position: absolute;
}

.main{
    width: 400px;
    height: 250px;
    display: flex;
}
.main-left{
    width: 150px;
    height: 250px;
    background-color: #9DDDF4;
}
.main-right{
    width: 250px;
    height: 250px;
    background-color: #C2FFC8;
}
.main-right-up{
    width: 150px;
    height: 50px;
    background-color: #ffffff;
    margin: 40px 60px 150px 40px;
    position: absolute;
}
.main-in-right-up{
    width: 140px;
    height: 40px;
    background-color: #FFC2C5;
    margin: 5px 5px 5px 5px;
    position: absolute;
}
.main-right-center{
    width: 150px;
    height: 50px;
    background-color: #ffffff;
    margin: 100px 60px 100px 40px;
    position: absolute;
}
.main-in-right-center{
    width: 140px;
    height: 40px;
    background-color: #FFC2C5;
    margin: 5px 5px 5px 5px;
    position: absolute;
}
.main-right-down{
    width: 150px;
    height: 50px;
    background-color: #ffffff;
    margin: 160px 60px 40px 40px;
    position: absolute;
}
.main-in-right-down{
    width: 140px;
    height: 40px;
    background-color: #FFC2C5;
    margin: 5px 5px 5px 5px;
    position: absolute;
}

.footer{
    width: 400px;
    height: 100px;
    background-color: #BEA5FF;
}